body{
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-left: 200px;
  margin-right: 150px;
}

#header{
  height:100px;
  border-style: none;
  padding-top: 25px;
}

ul {
    top: 45px;
    list-style-type: none;
    margin-right: 105px;
    overflow: hidden;
    background-color: #d3d3d3;
}

li {
    float: left;
    border-right: 2px #000;
}

li a {
    display: flex;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color to #8b0000 on hover */
li a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

#active-page{
  background-color: white;
}


#content{
  margin-top: 100px;
  margin-left:210px;
  z-index: 0;
  position: absolute;
}

.box-about{
    width: 91%;
    background-color: #d3d3d3;
    outline-style: solid;
    outline-color: black;
}

.box-test{
    width: 91%;
    background-color: #d3d3d3;
    margin-top: 20px;
}


.containerapp{
  width: 85%;
  margin-left: 65px;
}

/*--------------------------------*/
h1{
  font-family: 'Prata', serif;
  font-weight: bold;
  color: black;
  font-size: 72px;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom-width: 25px;
  padding-bottom: 25px;
  text-align: center;
}

h2{font-family: 'Prata', serif;
font-weight: bold;
color: black;
font-size: 72px;
padding-left: 20px;
padding-top: 5px;
border-bottom-width: 25px;
text-align: center;
}


h3{font-family: 'Prata', serif;
font-weight: bold;
color: black;
font-size: 35px;
padding-left: 20px;
padding-top: 5px;
border-bottom-width: 25px;
text-align: center;
}



h4{font-family: 'Prata', serif;
font-weight: bold;
color: black;
font-size: 28px;
padding-left: 20px;
padding-top: 5px;
border-bottom-width: 25px;
text-align: center;
}

#member-class{
  text-align: left;
}



h5{font-family: 'Prata', serif;
font-weight: bold;
color: black;
font-size: 35px;
padding-left: 20px;
padding-top: 5px;
border-bottom-width: 25px;
text-align: left;
font-style: italic;
}

#test-class{
  text-align: right;
}


p{
  font-family:sans-serif;
  font-size: 17px;
}

#home-item{
  font-size: 17px;
  font-family:sans-serif;
  text-align: center;
  margin-top: 15px;
}

#board-item{
  font-size: 17px;
  font-family:sans-serif;
  text-align: left;
  margin-top: 15px;
  margin-left: 100px;
  font-style: italic;
}

#about-us{
  text-align: center;
}


#pic-home{
  margin-left: 160px;
}
